
<html>
<%= stylesheet_link_tag 'estilopastores', media: 'all', 'data-turbolinks-track': 'reload' %>


 <body>

<section class="container-fluid missao">
	<h1><span>Nossa Missão</span></h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pretium, nisi ut volutpat mollis, leo risus interdum arcu, eget facilisis quam felis id mauris. Ut convallis, lacus nec ornare volutpat, velit turpis scelerisque purus, quis mollis velit purus ac massa. Fusce quis urna metus. Donec et lacus et sem lacinia cursus.</p>
</section>

<!-- Foto amando pessoas -->
		<section class="container-fluid cidade">
			<div class="row">
			<div class="col-lg-4 to">
					<h1>YOU</h1>
					
			</div>
			<div class="col-lg-4 you">
					<h1>US</h1>
	
			</div>

			<div class="col-lg-4 him">
					<h1>HIM</h1>
				
			</div>
		</div>

		</section>
<!-- Foto amando pessoas -->
<!-- O que acreditamos -->
<section class="container-fluid oqueacreditamos">
	<h1><span>O que acreditamos</span></h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pretium, nisi ut volutpat mollis, leo risus interdum arcu, eget facilisis quam felis id mauris. Ut convallis, lacus nec ornare volutpat, velit turpis scelerisque purus, quis mollis velit purus ac massa. Fusce quis urna metus. Donec et lacus et sem lacinia cursus.</p>
</section>


<!-- O que acreditamos -->


<!-- Foto amando pessoas -->
		<section class="container-fluid amandopessoas">
			<h3>Amando a Deus. Amando as pessoas.</h3>
				</div>
			</div>
			
		</section>
<!-- Foto amando pessoas -->
<!--Texto nossos pastores -->

<section class="container-fluid nossospastores">
	<h1><span>Nossos Pastores</span></h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pretium, nisi ut volutpat mollis, leo risus interdum arcu, eget facilisis quam felis id mauris. Ut convallis, lacus nec ornare volutpat, velit turpis scelerisque purus, quis mollis velit purus ac massa. Fusce quis urna metus. Donec et lacus et sem lacinia cursus.</p>
</section>

<!--Texto nossos pastores -->		

		
<!-- FotoAp -->
<div class="container p1">
	<div class="row">
	<div class="col-lg-6 pp1">
		<img class="img-responsive"  src="img/pp1.jpg">
	</div>
	<div class="col-lg-6">
		<h3>Apostolo Joaquim</h3>
		<p class="subtitle">Pastor Senior</p>
		<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
	<p><a href="#" class="btn btn-success btn-md " data-toggle="modal" data-target="#p1">Ver Mais </a></p>
	</div>
		</div>
	</div>
<div class="container p2">
	<div class="row">
	<div class="col-lg-6 pp2">
		<img class="img-responsive" src="img/p2.jpg">
	</div>
	<div class="col-lg-6">
		<h3>Apostolo Joaquim</h3>
		<p class="subtitle">Pastor Senior</p>
		<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
		<p><a href="#" class="btn btn-success btn-md " data-toggle="modal" data-target="#p2">Ver Mais </a></p>
	</div>
		</div>
	</div>
<div class="container p3">
	<div class="row">
	<div class="col-lg-6 pp3">
		<img class="img-responsive" src="img/p3.png">
	</div>
	<div class="col-lg-6">
		<h3>Apostolo Joaquim</h3>
		<p class="subtitle">Pastor Senior</p>
		<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
		<p><a href="#" class="btn btn-success btn-md" data-toggle="modal" data-target="#p3">Ver Mais </a></p>
	</div>
		</div>
	</div>
<div class="container p4">
	<div class="row">
	<div class="col-lg-6 pp4">
		<img class="img-responsive" src="img/p4.png">
	</div>
	<div class="col-lg-6">
		<h3>Apostolo Joaquim</h3>
		<p class="subtitle">Pastor Senior</p>
		<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
		<p><a href="#" class="btn btn-success btn-md" data-toggle="modal" data-target="#p4">Ver Mais </a></p>
	</div>
		</div>
	</div>
<div class="container p5">
	<div class="row">
	<div class="col-lg-6 pp5">
		<img class="img-responsive" src="img/p5.jpg">
	</div>
	<div class="col-lg-6">
		<h3>Apostolo Joaquim</h3>
		<p class="subtitle">Pastor Senior</p>
		<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
		<p><a href="#" class="btn btn-success btn-md " data-toggle="modal" data-target="#p4">Ver Mais </a></p>
	</div>
		</div>
	</div>

<!-- FotoAp -->	
<!--Pre footer -->
<section class="container-fluid prefooter">
    
        <h1>Want to worship with us?</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pretium, nisi ut volutpat mollis, leo risus interdum arcu, eget facilisis quam felis id mauris. Ut convallis, lacus nec ornare volutpat, velit turpis scelerisque purus, quis mollis velit purus ac massa. Fusce quis urna metus. Donec et lacus et sem lacinia cursus.</p>
</section>


<!--Pre footer -->

		
		
		
		
		
		
		
		
		
	<!-- Footer !-->
		<footer class="footer">
				<div class="social-icons">
					<a href="#"><i class="fa fa-facebook-square"></i></a>
					<a href="#"><i class="fa fa-youtube-play"></i></a>
					<a href="#"><i class="fa fa-google"></i></a>
					<a href="#"><i class="fa fa-envelope"></i></a>
				</div>
				<p class="copyright">Copyright @ Ibca Church 2019.Todos direitos reservados</p>
		</footer>
<!-- Footer !-->
		
<!-- Modal 1 !-->	
 <div class ="modal fade" id="p1" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Apostolo Joaquim</h4>
				<button type="button" class="close" data-dismiss="modal">
					<span>&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
			
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
			</div>
	
		</div>
	 
	</div>	
	 
</div>

<!-- Modal 1!-->

<!--Modal 2 !-->
	
 <div class ="modal fade" id="p2" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Apostolo Joaquim</h4>
				<button type="button" class="close" data-dismiss="modal">
					<span>&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
			
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
			</div>
	
		</div>
	 
	</div>	
	 
</div>

		
<!-- Modal 2 !-->

<!--Modal 3 !-->
	
 <div class ="modal fade" id="p3" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Apostolo Joaquim</h4>
				<button type="button" class="close" data-dismiss="modal">
					<span>&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
			
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
			</div>
	
		</div>
	 
	</div>	
	 
</div>

		
<!-- Modal 3 !-->
		
<!--Modal 4 !-->
	
 <div class ="modal fade" id="p4" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Apostolo Joaquim</h4>
				<button type="button" class="close" data-dismiss="modal">
					<span>&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
			
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
			</div>
	
		</div>
	 
	</div>	
	 
</div>

		
<!-- Modal 4 !-->

<!--Modal 5 !-->
	
 <div class ="modal fade" id="p5" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Apostolo Joaquim</h4>
				<button type="button" class="close" data-dismiss="modal">
					<span>&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
			
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
			</div>
	
		</div>
	 
	</div>	
	 
</div>

		
<!-- Modal 5 !-->


			
</body>
</html>